###############################################################################
#### ignore folder
###############################################################################
etc/

###############################################################################
#### Eclipse
###############################################################################
.classpath
.project
.settings/

###############################################################################
#### Maven
###############################################################################
log/
target/

###############################################################################
#### intellij files
###############################################################################
out/
.idea/
*.iml
*.iws

###############################################################################
#### Mac
###############################################################################
.DS_Store

###############################################################################
#### ignore files
###############################################################################
*.dat
*.log
*.jar
*.war
*.nar
*.ear
*.zip
*.rar
*.meta
*.ctxt
*.class
*.tar.gz